* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    color: white;
}

.main__contain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.main__contain__left {
    position: relative;
    width: 50%;
    height: 100vh;
    overflow: hidden;
    transition: 1s;
}

.main__contain__left:hover {
    width: 100%;
}

.left__contain {
    background-image: linear-gradient(rgba(30, 255, 0, 0.2), rgba(30, 255, 0, 0.2)), url(assets/kawasaki.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    transform: scaleX(-1);
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main__contain__right {
    position: relative;
    width: 50%;
    height: 100vh;
    overflow: hidden;
    transition: 1s;
}

.main__contain__right:hover {
    width: 100%;
}

.right__contain {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/Harley.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__txt__right {
    width: 60%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h3 {
    font-size: 3em;
    text-align: center;
}

.btn__right {
    height: 5em;
    width: 50%;
    border: solid 3px white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn__right:hover {
    background-color: black;
    border: solid black 3px;
}

p {
    font-weight: 700;
    text-align: center;
    padding: 0.5em;
    color: white;
}

.btn__txt__left {
    width: 60%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform: scaleX(-1);
}

.btn__left {
    height: 5em;
    width: 50%;
    border: solid 3px white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn__left:hover {
    background-color: rgb(30, 255, 0);
    border: solid rgb(30, 255, 0) 3px;
}
